body {
    font-family: Arial, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 320px;
}

h1 {
    margin-bottom: 20px;
}

.add-box {
    display: flex;
    gap: 5px;
    margin-bottom: 16px;

}

.add-box input {
    flex: 1;
    padding: 8px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #f1f1f1;
    font-size: 14px;

}

.add-box button {
    margin-left: 10px;
    padding: 10px 18px;
    border-radius: 25px;
    border: none;
    background: #ff6b5c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 14px;
    color: #333;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.task input {
    width: 18px;
    height: 18px;
    accent-color: #ff6b5c;
    cursor: pointer;
}

.task.completed span {
    text-decoration: line-through;
    color: gray;
}

.delete {
    cursor: pointer;
    color: red;
    font-size: 16px;
}
.delete:hover {
    color: red;
}
